/* 设置整体的背景 */

body {
    background: url('../image/背景.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.reg-box {
    display: none;
}

.repwd-box {
    display: none;
}


/* 设置logo显示 */

.logo h1 {
    margin-top: 15px;
    margin-left: 300px;
    width: 267px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.logo h1 a {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background: url('../image/logo.png') no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}


/* 设置登录模块 */

.login {
    width: 350px;
    height: 400px;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-175px, -175px);
    border-radius: 10px;
}

.layui-form-item #mpanel1 .verify-bar-area {
    width: 100px;
    height: 50px;
}


/* 文字的显示 */

.login-box h3 {
    font-size: 25px;
    text-align: center;
    color: aquamarine;
    margin-top: -20px;
    padding-bottom: 20px;
}

.reg-box h3 {
    font-size: 25px;
    text-align: center;
    color: aquamarine;
    margin-top: -20px;
    padding-bottom: 20px;
}

.repwd-box h3 {
    font-size: 25px;
    text-align: center;
    color: aquamarine;
    padding-bottom: 20px;
}

.login-box,
.reg-box,
.repwd-box {
    padding: 40px 30px 0px;
}

.login-box span {
    float: right;
}

.login-box span a {
    margin: 0 5px;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-form-item .layui-input {
    padding-left: 32px;
}

.reg-box a {
    float: right;
}

.repwd-box a {
    float: right;
}